<!--
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ beerName }}</h1>
    <p class="beer-details" *ngIf="manufacturer">
      Made by <i>{{ manufacturer }}</i>
    </p>
  </div>
</div>
-->

<div class="container">
  <br>

  <br>
  <p-table [value]="beerLocations" sortMode="multiple" sortField="price">
    <ng-template pTemplate="header">
      <tr>
        <th>State</th>
        <th>City</th>
        <th>Sales</th>
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
      <tr>
        <td>{{m.State}}</td>
        <td>{{m.City}}</td>
        <td>{{m.Sales}}</td>

      </tr>
    </ng-template>
  </p-table>
</div>

<div class="container">
  <br>

  <br>
  <p-table [value]="stateLocations" sortMode="multiple" sortField="price">
    <ng-template pTemplate="header">
      <tr>

        <th>Top Cities that like this manf</th>
        <th>Top States that like this manf(state's intials)</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
      <tr>
        <td>{{m.City}}</td>
        <td>{{m.State}}</td>


      </tr>
    </ng-template>
  </p-table>
</div>






<div class="container">
  <br>
  <div id="bargraph"></div>
</div>
