






<div class="container">

    <br>
    <div id="bargraph"></div>
  </div>

<br>
<div>
<p-dropdown class="" [options]="dayOptions" (onChange)= "doSecondQuery($event.value)"></p-dropdown>
</div>


<br>
<div class="container">

  <div id="bargraph2"></div>
</div>

<br>
<h6>DropDown below shows busy times in a day and week</h6>
<div>
  <p-dropdown  class="" [options]="dayOptions" (onChange)= "do3Query($event.value)"></p-dropdown>
</div>


<br>
<div class="container">

  <div id="bargraph3a"></div>
</div>

<br>

<div class="container">

  <div id="bargraph3b"></div>
</div>

<div class="container">

  <div id="bargraph4"></div>
</div>




