






<div class="container">
  <h2>This page is correct but takes over a minute to load all results please be patient</h2>
    <br>
    <div id="bargraph"></div>
  </div>




<div>
<p-dropdown class="" [options]="dayOptions" (onChange)= "doSecondQuery($event.value)"></p-dropdown>
</div>
<div class="container">

  <div id="bargraph2"></div>
</div>


<div class="container">

  <div id="bargraph3a"></div>
</div>

<div class="container">

  <div id="bargraph3b"></div>
</div>

<div class="container">

  <div id="bargraph4"></div>
</div>




