<div class="container">

  <h2>Enter a SQL query within a box provided under a table to add, edit, or delete a row from that table</h2>
  <br>


  <div >
    <h1>BarTable</h1>

    <p-table [value]="allBars"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BarName</th>
          <th>BarLicense</th>
          <th>State</th>
          <th>City</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
              {{ bar.BarName }}
          </td>
          <td>
            {{ bar.BarLicense }}
          </td>
          <td>
            {{ bar.City }}
          </td>
          <td>
            {{ bar.State }}
          </td>


        </tr>
      </ng-template>
    </p-table>

    <textarea pInputTextarea autoResize="autoResize"></textarea>

  </div>

  <br>

  <div >
    <h1>DrinkerTable</h1>

    <p-table [value]="allDrinkers"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>DrinkerName</th>
          <th>DrinkerID</th>
          <th>State</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-d>
        <tr>
          <td>
          {{d.DrinkerName}}
          </td>
          <td>
            {{d.DrinkerID}}
          </td>
          <td>
            {{d.State}}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>ItemsTable</h1>

    <p-table [value]="allItems"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>ItemID</th>
          <th>name</th>
          <th>Flag</th>
          <th>Manf</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i>
        <tr>
          <td>{{i.ItemID}}</td>
          <td>{{i.name}}</td>
          <td>{{i.Flag}}</td>
          <td>{{i.Manf}}</td>



        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>BartenderTable</h1>

    <p-table [value]="allBartenders"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BartenderName</th>
          <th>BartenderID</th>
          <th>State</th>



        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-b>
        <tr>
          <td>
            {{ b.BartenderName }}
          </td>
          <td>
            {{ b.BartenderID }}
          </td>
          <td>
            {{ b.State }}
          </td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>
  <br>

  <div >
    <h1>BillTable</h1>

    <p-table [value]="allBills"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BillID</th>
          <th>TransactionID</th>
          <th>Total</th>
          <th>Tip</th>
          <th>TotalCost</th>
          <th>Date</th>
          <th>Time</th>
          <th>DateTime</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-b>
        <tr>
          <td>{{b.BillID}}</td>
          <td>{{b.TransactionID}}</td>
          <td>{{b.Total}}</td>
          <td>{{b.Tip}}</td>
          <td>{{b.TotalCost}}</td>
          <td>{{b.Date}}</td>
          <td>{{b.Time}}</td>
          <td>{{b.DateTime}}</td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>
  <div >
    <h1>FrequentTable</h1>

    <p-table [value]="allFreq"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BarLicense</th>
          <th>DrinkerID</th>



        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-f>
        <tr>
          <td>{{f.BarLicense}}</td>
          <td>{{f.DrinkerID}}</td>



        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>LikesTable</h1>

    <p-table [value]="allLikes"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>DrinkerID</th>
          <th>ItemID</th>



        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-l>
        <tr>
          <td>{{l.DrinkerID}}</td>
          <td>{{l.ItemID}}</td>



        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>Operations</h1>

    <p-table [value]="allops"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BarLicense</th>
          <th>Day</th>
          <th>OpenTime</th>
          <th>CloseTime</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-o>
        <tr>
          <td>{{o.BarLicense}}</td>
          <td>{{o.Day}}</td>
          <td>{{o.OpenTime}}</td>
          <td>{{o.CloseTime}}</td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>
  <div >
    <h1>Works</h1>

    <p-table [value]="allworks"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BarLicense</th>
          <th>BartenderID</th>
          <th>Day</th>
          <th>Start</th>
          <th>Close</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-w>
        <tr>
          <td>{{w.BarLicense}}</td>
          <td>{{w.BartenderID}}</td>
          <td>{{w.Day}}</td>
          <td>{{w.Start}}</td>
          <td>{{w.Close}}</td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>SellsTable</h1>

    <p-table [value]="allsells"[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>BarLicense</th>
          <th>ItemID</th>
          <th>Quantity</th>
          <th>Price</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-s>
        <tr>
          <td>{{s.BarLicense}}</td>
          <td>{{s.ItemID}}</td>
          <td>{{s.Quantity}}</td>
          <td>{{s.Price}}</td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <br>

  <div >
    <h1>TransactionTable</h1>

    <p-table [value]=""[paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>barName</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
            <a routerLink="/bars/{{ bar.BarName }}">
              {{ bar.BarName }}
            </a>
          </td>


        </tr>
      </ng-template>
    </p-table>
    <textarea pInputTextarea autoResize="autoResize"></textarea>
  </div>


  <br>


</div>
